*.o
*.su
*.lib
STM32CubeMX/Drivers/*
STM32CubeMX/Debug/*
STM32CubeMX/Middlewares/*
~$Книга1.xlsx
*.bak
*.s#1
*.s#2
*.s#3
*.s#4
*.s#5
*.s#6
*.s#7
*.s#8
*.s#9
*.launch
*.prefs
STM32CubeMX/.settings/language.settings.xml
STM32CubeMX/.settings/language.settings.xml
STM32CubeMX/.settings/org.eclipse.cdt.codan.core.prefs
STM32CubeMX/.cproject
STM32CubeMX/.settings/language.settings.xml
*.xml
*.b#1
*.b#2
*.b#3
*.b#4
*.b#5
*.b#6
*.b#7
*.b#8
*.b#9
